@keyframes strokeanim {
  from {
    stroke-dashoffset: 500;
  }
  to {
    stroke-dashoffset: 6000;
  }
}
@keyframes strokein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.svg {
  display :initial;
}
.base {
  animation: strokein 600ms linear none;
}
.logo {
  width: 11vw;
  height: 11vw;
  max-width: 200px;
  max-height: 200px;
  position: absolute;
  bottom: -18%;
  left: 50%;
  transform: translateX(-50%);
}

.container {
     width: 100vw;
     max-width: 2000px;
     margin: auto;
      position: relative;
       margin-top: 10px;
       margin-bottom: 100px;
}
.animated {
  stroke: rgba(86, 164, 234, 1);
  stroke-dasharray: 0.1px 250;
  stroke-dashoffset: 500;
  stroke-width: 5;
  stroke-linecap: round;
  animation: strokeanim 300s linear infinite, fadein 2000ms ease-in none;
}
.animatedFlip {
  stroke: rgba(86, 164, 234, 1);
  stroke-dasharray: 0.1px 250;
  stroke-dashoffset: 500;
  stroke-width: 5;
  stroke-linecap: round;
  animation: strokeanim 300s linear infinite reverse, fadein 2000ms ease-in none;
}

@media (max-width: 600px) {
  .svg {
    display: none;
  }
  .base {
    display: none;
  }
  .logo {
    width: 120px;
    height: 120px;
    position: inherit;
  }
  .container {
    margin-bottom: 30px;

  }

}
